localhost:80 {
    handle_path /api {
        reverse_proxy localhost:5000
    }
    
    handle_path /* {
        header Cache-Control max-age=604800
        file_server {
             root /srv/
        }
    }
}
