body {
    max-width: 750px;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    gap: 20px;
    border-bottom: 1px solid black;
}

p {
    flex: 1;
}
